<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .a{
      position: relative;
      width: 400px;
      height: 400px;
      background: red;
      display:flex;
      justify-content: center
    }
    .b{

      width: 100px;
      height: 100px;
      background: #ccc;
      
    }
  </style>
</head>
<body>
  <div class="a">
      <div class="b"></div>
  </div>
  
</body>
</html>